.item-row {
    gap: 13px;
    font-weight: 400;
    font-size: 16px;

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .name {
        color: #222222;
    }

    .severity {
        align-items: flex-start;
        font-size: 14px;
        color: #22222280;

        img {
            margin-right: 3px;
        }
    }

    .more {
        flex: 1;

        .mat-menu-trigger {
            float: right;
        }
    }
}