/* override material component's css here if globally needed */

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #006BA8;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 35px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0 !important;
}

.mat-checkbox-layout .mat-checkbox-label {
    font-weight: 400;
    font-size: 16px;
    color: #222222;
}

.mat-list-base .mat-subheader {
    padding: 0;
}
